doctype html
html(ng-app="app" ng-controller="appCtrl" lang="zh-cn")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='some description')
    meta(name='author', content='Eisneim Terry(http://www.eisneim.com)')
    base(href="/")

    include styleSheets
    
    title= title || 'your site' 
  body
    block content

    //- for loged in user when they refresh the page,
    if bootstrapUser
        script.
            window.bootstrapUser = !{ JSON.stringify(bootstrapUser) }

    include scripts
